/* Media queries pour les écrans de taille moyenne */
@media (max-width: 768px) {
  .home {
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: auto; 
    background-color: #f1f1f1; 
  }

  .left {
    width: 100%; 
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
  }

  .right {
    display: none; 
  }

  .projets {
    flex-direction: column;
  }

  .projets .left,
  .projets .right {
    padding: 20px;
  }
  
  .projets .right {
    flex-direction: column;
    align-items: center; 
  }

  .projets .right > div {
    margin: 10px 0; 
  }
  
  .projets .left .section-title,
  .projets .left img,
  .name-section,
  .dev,
  .email {
    text-align: center; 
  }
  
   .projets .left img {
    display: none; 
  }

  .name-section {
    margin-bottom: 20px; 
  }

  .chebila {
    font-size: 100px; 
  }

  .dev,
  .email {
    margin-right: 0; 
    margin-bottom: 20px; 
  }
  
  .contact {
    flex-direction: column;
    align-items: center;
  }

  .contact .left,
  .contact .right {
    margin-top: 20px;
  }

  .icons {
    margin-top: 20px;
  }

  .icons a {
    margin: 0 5px;
  }

  .projets .right > div {
    margin: 10px;
  }
}

.name-section a:hover .xiam::before,
  .name-section a:hover .chebila::before {
    font-size: 100px; 
    text-align: center; 
    position: static; 
    transform: none; 
    display: block; 
    margin-top: 10px; 
  }

/* Media queries pour les petits écrans */
@media (max-width: 576px) {
  .left,
  .right {
    padding: 10px;
  }

  .projets .right > div {
    margin: 5px;
  }
}